body, html {
    margin: auto;
    background-color: #0c0c0c;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .vine1 {
        width: 120px !important;
        height: 120px !important;
        margin-top: -65px !important;
        margin-left: -65px !important;
    }

    .vine2 {
        width: 150px !important;
        height: 150px !important;
        margin-top: -60px !important;
        margin-left: -45px !important;
    }

    .MainText {
        margin-top: -80px !important;
    }

    .Title {
        font-size: 35px !important;
    }

    .UnderTitle {
        font-size: 20px !important;
        margin-top: -8px !important;
    }

    .Container {
        flex-direction: column !important;
        margin-top: 30px !important;
        gap: 20px !important;
    }

    .TeamPhoto {
        width: 200px !important;
        border-radius: 15px !important;
    }

    .Information {
        width: 250px !important;
        height: 200px !important;
        padding-left: 15px !important;
        font-size: 14px !important;
        margin-left: 0 !important;
        margin-top: 30px !important;
    }

    .InformationText {
        font-size: 11px !important;
    }

    .Monkey {
        width: 70px !important;
        margin-top: 35px !important;
    }

    .BarrelText {
        font-size: 30px !important;
    }

    .AllBarrels {
        margin-top: 70px !important;
    }
}

@font-face {
    font-family: big;
    src: url(../font/excitebike.ttf);
}

@font-face {
    font-family: small;
    src: url(../font/kambulim-pixel.ttf);
}

@keyframes moveUp {
    0% { margin-top: 0; }
    100% { margin-top: -20px; }
}

@keyframes moveDown {
    0% { margin-top: -20px; }
    100% { margin-top: 0; }
}

@keyframes MonkeyMoveUp {
    0% { margin-top: 35px; }
    100% { margin-top: -30px; }
}

@keyframes MonkeyMoveDown {
    0% { margin-top: -30px; }
    100% { margin-top: 35px; }
}

.Border1 {
    position: fixed;
    border-style: solid;
    border-width: 30px;
    border-color: black;
    height: 100%;
    width: 100%;
    z-index: 100;
    box-sizing: border-box
}

.Border2 {
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(120, 120, 120);
    top: 30px;
    bottom: 30px;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

.AllVines{
    display: flex;
    justify-content: space-between;
}

.vine1 {
    width: 300px;
    rotate: 190deg;
    margin-top: -100px;
    margin-left: -100px;
}

.vine2 {
    width: 300px;
    rotate: 285deg;
    margin-top: -100px;
    margin-right: -100px;
}

.MainText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -130px;
}

.Title {
    font-family: big;
    color: rgb(2, 208, 60);
    font-size: 50px;
    text-shadow: rgb(2, 208, 60) 1px 0 40px;
}

.UnderTitle {
    font-family: small;
    color: white;
    font-size: 30px;
    margin-top: -15px;
    text-shadow: white 1px 0 40px;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 20;
    margin-top: 50px;
}

.TeamPhoto {
    width: 300px;
    border-radius: 20px;
}

.Information {
    outline-style: solid;
    border-radius: 5px;
    width: 325px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -50px;
    padding-left: 20px;
}

.InformationText {
    font-family: small;
    margin-left: 10px;
}

.AllBarrels {
    display: flex;
    justify-content: space-evenly;
    margin-top: -150px;
    position: relative;
    z-index: 50;
}

.BarrelContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.Barrel2, a {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 30;
    animation: moveDown 0.3s forwards;
}

.Barrel2:hover {
    position: relative;
    z-index: 30;
    animation: moveUp 0.3s forwards;
}

.Monkey {
    width: 100px;
    position: absolute;
    margin-top: 35px;
    z-index: 1;
    margin-right: -10px;
    animation: MonkeyMoveDown 0.3s forwards;
}

body:has(.Barrel2:hover) .Monkey {
    animation: MonkeyMoveUp 0.3s forwards;
}

.BarrelBottom {
    z-index: 1;
}

.BarrelText {
    font-family: small;
    font-size: 50px;
    color: white;
}